<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Footer Templates</title>
</head>
<body>
    <footer id="fragmentTag" th:fragment="footer1">
      <div class="container" th:fragment="footer1">
        <h1>About LearnCode </h1>
        <h1>Provide good content</h1>
      </div>


    </footer>

</body>
</html>
